.p-6{padding:5rem!important}.pt-6,.py-6{padding-top:5rem!important}.pr-6,.px-6{padding-right:5rem!important}.pb-6,.py-6{padding-bottom:5rem!important}.pl-6,.px-6{padding-left:5rem!important}.p-7{padding:7.5rem!important}.pt-7,.py-7{padding-top:7.5rem!important}.pr-7,.px-7{padding-right:7.5rem!important}.pb-7,.py-7{padding-bottom:7.5rem!important}.pl-7,.px-7{padding-left:7.5rem!important}.p-8{padding:10rem!important}.pt-8,.py-8{padding-top:10rem!important}.pr-8,.px-8{padding-right:10rem!important}.pb-8,.py-8{padding-bottom:10rem!important}.pl-8,.px-8{padding-left:10rem!important}.p-9{padding:15rem!important}.pt-9,.py-9{padding-top:15rem!important}.pr-9,.px-9{padding-right:15rem!important}.pb-9,.py-9{padding-bottom:15rem!important}.pl-9,.px-9{padding-left:15rem!important}.p-10{padding:20rem!important}.pt-10,.py-10{padding-top:20rem!important}.pr-10,.px-10{padding-right:20rem!important}.pb-10,.py-10{padding-bottom:20rem!important}.pl-10,.px-10{padding-left:20rem!important}@media screen and (max-width:1400px) and (min-width:1000px){.p-6{padding:5rem!important}.px-6{padding-right:5rem!important}.pl-6,.px-6{padding-left:5rem!important}.p-7{padding:5rem!important}.pr-7,.px-7{padding-right:5rem!important}.pl-7,.px-7{padding-left:5rem!important}.p-8{padding:5rem!important}.pr-8,.px-8{padding-right:5rem!important}.pl-8,.px-8{padding-left:5rem!important}.p-9{padding:5rem!important}.pr-9,.px-9{padding-right:5rem!important}.pl-9,.px-9{padding-left:5rem!important}.p-10{padding:5rem!important}.pr-10,.px-10{padding-right:5rem!important}.pl-10,.px-10{padding-left:5rem!important}}@media screen and (max-width:1000px){.p-6{padding:1rem!important}.px-6{padding-right:1rem!important}.pl-6,.px-6{padding-left:1rem!important}.p-7{padding:1rem!important}.pr-7,.px-7{padding-right:1rem!important}.pl-7,.px-7{padding-left:1rem!important}.p-8{padding:1rem!important}.pr-8,.px-8{padding-right:1rem!important}.pl-8,.px-8{padding-left:1rem!important}.p-9{padding:1rem!important}.pr-9,.px-9{padding-right:1rem!important}.pl-9,.px-9{padding-left:1rem!important}.p-10{padding:1rem!important}.pr-10,.px-10{padding-right:1rem!important}.pl-10,.px-10{padding-left:1rem!important}}.text-mydark{color:#585858}.bg-mydark{background-color:#202020}p,i,b,a,li,code,pre{line-height:2rem!important}kbd{margin:0.5rem!important}.main a,.a-inherit,.a-h{transition:color 0.5s ease-in-out,background-color 0.5s ease-in-out,border-color 0.5s ease-in-out,box-shadow 0.5s ease-in-out;text-decoration:none}.main a{color:inherit;text-decoration:underline}.main a:hover{color:#c1c1c1;text-decoration:none}.a-inherit{color:inherit}.a-inherit:hover{color:#c1c1c1;text-decoration:none}.a-h{color:inherit;text-decoration:none!important}.a-h:hover{color:#c1c1c1;text-decoration:none!important}pre{font-family:Consolas,monospace;line-height:1rem;background-color:#202020;color:#f1f1f1;padding:1rem}.main img{margin-top:2rem;margin-bottom:2rem;width:50%}.main img.lg{margin-top:2rem;margin-bottom:2rem;width:100%}@media screen and (min-height:600px){.fh{height:100vh}}.my-btn-1{position:fixed!important;right:1rem!important;bottom:1rem!important}.my-btn-2{position:fixed!important;right:1rem!important;bottom:4rem!important}.my-btn-3{position:fixed!important;right:1rem!important;bottom:7rem!important}.my-btn-4{position:fixed!important;left:1rem!important;bottom:1rem!important}.my-btn-5{position:fixed!important;left:1rem!important;bottom:4rem!important}.my-btn-1,.my-btn-2,.my-btn-3,.my-btn-4,.my-btn-5{z-index:9999
}
.hidden-sm{display:inherit!important}@media screen and (max-width:768px){.hidden-sm{display:none!important}}
.display-sm{display:none!important}@media screen and (max-width:768px){.display-sm{display:inherit!important}}.hidden-md{display:inherit!important}@media screen and (max-width:991px){.hidden-md{display:none!important}}.display-md{display:none!important}@media screen and (min-width:769px) and (max-width:991px){.display-md{display:inherit!important}}.hidden-lg{display:inherit!important}@media screen and (min-width:992px){.hidden-lg{display:none!important}}.display-lg{display:none!important}@media screen and (min-width:992px){.display-lg{display:inherit!important}}.hover-shadow,.hover-zoom{transition: all 0.5s;-webkit-transition: all .5s;-moz-transition: all 0.5s;-ms-transition:all 0.5s;-o-transition: all 0.5s;}.hover-shadow:hover{box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important}.hover-zoom:hover{transform:scale(1.1);}.btn-mydark{color:#fff;background-color:#202020;border-color:#202020}.btn-mydark:hover{color:#fff;background-color:#151515;border-color:#151515}.btn-mydark.focus,.btn-mydark:focus{box-shadow:0 0 0 .2rem rgba(82,88,93,.5)!important}.btn-mydark.disabled,.btn-mydark:disabled{color:#fff;background-color:#343a40;border-color:#343a40}.btn-mydark:not(:disabled):not(.disabled).active,.btn-mydark:not(:disabled):not(.disabled):active,.show>.btn-mydark.dropdown-toggle{color:#fff;background-color:#101010;border-color:#111111}.btn-mydark:not(:disabled):not(.disabled).active:focus,.btn-mydark:not(:disabled):not(.disabled):active:focus,.show>.btn-mydark.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(82,88,93,.5)!important}.bg-light{background-color:#f1f1f1!important}.animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0}to{opacity:1}}.animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0}to{top:0;opacity:1}}.animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0}to{left:0;opacity:1}}.animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0}to{right:0;opacity:1}}.animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0}to{bottom:0;opacity:1}}.animate-zoom{animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)}to{transform:scale(1)}}p>a{margin:0.5rem!important}
/* 仅仅针对于这个网站 */
html,body{
	background-color:#202020;
}
*::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: #888888;
}
:not(.text-light) code{
	background-color:#202020!important;
	color:#f1f1f1!important;
	border-radius:.5rem;
	padding:.2rem!important;
}
.text-light code{
	background-color:#f1f1f1!important;
	color:#202020!important;
	border-radius:.5rem;
	padding:.2rem!important;
}
p>code{
	margin:.5rem;
}
::selection{
	background-color:#add8e6;
	color:#202020!important;
}
::-moz-selection{
	background-color:#add8e6;
	color:#202020!important;
}
*{
	font-family:Consolas,'Courier New',Courier,"Fira Code",等线,sans-serif;
	border:none!important;
}
h1,h2,h3,h4,h5,h6,h1 *,h2 *,h3 *,h4 *,h5 *,h6 *,.navbar-brand{
	font-family:Consolas,'Courier New',Courier,"Fira Code",等线,sans-serif!important;
}
.text-light>h1,.text-light>h2,.text-light>h3,.text-light>h4,.text-light>h5,.text-light>h6,.text-light>h1 *,.text-light>h2 *,.text-light>h3 *,.text-light>h4 *,.text-light>h5 *,.text-light>h6 *,.text-light>.navbar-brand{
	color:#f1f1f1;
	font-family:Consolas,'Courier New',Courier,"Fira Code",等线,sans-serif!important;
}
.my-btn-1{
	position:fixed!important;
	right:1rem!important;
	bottom:1rem!important;
}
.my-btn-2{
	position:fixed!important;
	right:1rem!important;
	bottom:4rem!important;
}
.my-btn-3{
	position:fixed!important;
	right:1rem!important;
	bottom:7rem!important;
}
.my-btn-4{
	position:fixed!important;
	left:1rem!important;
	bottom:1rem!important;
}
.my-btn-5{
	position:fixed!important;
	left:1rem!important;
	bottom:7rem!important;
}
.my-btn-1,.my-btn-2,.my-btn-3,.my-btn-4,.my-btn-5{
	z-index:9999;
}
.btn{
	padding-top:.1rem;
	padding-bottom:.1rem;
}
.fixed{
	position:fixed;
}
.navbar{
	position:fixed;
	top:0;
}
hr{
	border-bottom:.1rem solid #f1f1f1!important;
}
.kai{
	font-family:KaiTi,FangSong,STKaiti,STFangsong,Consolas,sans-serif!important;
}